<!DOCTYPE html>
<html>
<!-- License Information : https://java.net/projects/avatar/sources/git/content/legal/header.txt -->
    <head>
        <title>Avatar Twitterwall by @dasniko</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>
        <script data-model="rest">
            var Query = function () {
                this.query = "";
            };
        </script>
		<script data-model="push">
            var TwitterModel = function () {
				this.items = [];
            }
        </script>
		<script data-type="Query" data-instance="q" data-url="rest/query"></script>
        <script data-type="TwitterModel" data-instance="tm" data-url="push/tweets"></script>
		
		<h1>Avatar Twitterwall</h1>
		
		<label for="sq">Search query: </label>
		<input id="sq" data-value="#{q.query}"/>
        <button onclick="#{q.put()}">Search</button>
		<button onclick="#{q.del()}">Stop</button>
		
		<div data-widget="table" data-model="#{tm}" data-props="itemIdentifier:'id', bindModel:'row'">
			<div data-widget="column" data-name="Created">
				#{row.createdAt}
			</div>
			<div data-widget="column" data-name="ScreenName">
				@#{row.screenName}
			</div>
			<div data-widget="column" data-name="Text">
				#{row.text}
			</div>
		</div>
		
		<!--<div data-widget="collection" data-props="items: #{tm.items}, bindModel: tweet">
			<div data-widget="collectionItem">
				@#{tweet.screenName}: #{tweet.text}
			</div>
		</div>-->
		
    </body>
</html>
