<!DOCTYPE html>
<html>
<!-- License Information : https://java.net/projects/avatar/sources/git/content/legal/header.txt -->
    <head>
        <title>Avatar Twitterwall by @dasniko</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>
        <script data-model="rest">
            var Query = function () {
                this.query = "";
            };
        </script>
		<script data-model="push">
            var TwitterModel = function () {
				this.items = [];
				this.onMessage = function(event) {
					// you can omit this function, if you only want to have the defaults...
					this.items = JSON.parse(event.data).items;
					this.update();
					// ...but sometimes I need this kind of debugging:
					// console.log(this.items);
				}
            }
        </script>
		<script data-type="Query" data-instance="q" data-url="rest/query"></script>
        <script data-type="TwitterModel" data-instance="tm" data-url="push/tweets"></script>
		
		<h1><a href="https://avatar.java.net" target="_blank">Project Avatar</a> Twitterwall <img src="./img/Twitter_logo_blue.png" style="height: 20px"/></h1>
		<p>&amp;copy; by <a href="https://twitter.com/dasniko" target="_blank">@dasniko</a></p>
		
		<label for="sq">Search query: </label>
		<input id="sq" data-value="#{q.query}"/>
        <button onclick="#{q.put()}">Search</button>
		<button onclick="#{q.del()}">Stop</button>
		
		<div data-widget="stackContainer" id="StackContainer" data-selected="Tweets">
			<div data-widget="contentPane" id="Tweets" data-title="Tweets" data-width="100px" data-height="800px">
				<div data-widget="table" data-model="#{tm}" data-props="itemIdentifier:'id', bindModel:'row'">
					<div data-widget="column" data-name="Date">
						#{row.createdAt}
					</div>
					<div data-widget="column" data-name="StatusID">
						#{row.id}
					</div>
					<div data-widget="column" data-name="User">
						<div data-widget="img" data-namespace="http://application" data-src="#{row.user.profileImageUrl}"></div>
						<span>&amp;nbsp;</span>
						<div data-widget="link" data-label="@#{row.user.screenName}"
							data-href="#twitter/userDetails?screenName=#{row.user.screenName}&amp;name=#{row.user.name}&amp;bio=#{row.user.description}&amp;loc=#{row.user.location}"></div>
					</div>
					<div data-widget="column" data-name="Message">
						#{row.text}
					</div>
				</div>
			</div>
			<div data-widget="contentPane" id="userDetails" data-title="User Details">
				<h1>#{location.params.screenName}</h1>
				<table>
					<tr><td>Name:</td><td>#{location.params.name}</td></tr>
					<tr><td>Bio:</td><td>#{location.params.bio}</td></tr>
					<tr><td>Location:</td><td>#{location.params.loc}</td></tr>
				</table>
			</div>
		</div>
		
		<!--<div data-widget="collection" data-props="items: #{tm.items}, bindModel: tweet">
			<div data-widget="collectionItem">
				@#{tweet.user.screenName}: #{tweet.text}
			</div>
		</div>-->
		
    </body>
</html>
