/* Copyright 2012, Oracle and/or its affiliates. All Rights Reserved */

.jquery .tablesorter caption {
    border: 2px solid #ccc;
    padding: 3px;
    font-weight: bold;
    text-align: left;
    font-size: 110%;
    background: #f9f9f9;
}
